@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

header h1 {
  font-family: 'Creepster', cursive;
  font-size: 7em;
  margin: 0;
  background-image: url('IMAGENES/PORTADA-sinfondo.png');
  background-size: contain;
  /* Ajusta la forma en que la imagen se adapta al tamaño del título */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  background-position: left;
  /* Centra la imagen en el título */
  padding: 20px 0;
  -webkit-text-stroke: 1px #2eb107;
  display: flex;
  justify-content: center;
  text-align: center;
}

/*para que el titulo no se monte sobre la img al achicar pantalla*/
@media (max-width: 768px) {
  header h1 {
    font-size: 4em;
    padding-left: 20px;
  }
}

body {
  /*background-image: url('IMAGENES/universo_gris.jpg');
 background-size: contain;
 background-repeat:repeat;*/
  background-color: #121212;
  color: #ffffff;
}

header {
  background-image: url('IMAGENES/universo.png');
  /* background-color: #000000;
  /* Cambié el color de fondo del encabezado a negro */
  color: #0cede2;
  /* Cambié el color del texto a un verde brillante similar al de la serie */
  text-align: center;
  padding: 20px 0;
}

footer {
  font-family: 'Kalam';
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1e1e1e;
}


button {
  font-family: 'Kalam';
  background-color: #2eb107;
  color: #1e1e1e;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 20%;
}

button:hover {
  background-color: #6fe74b;
}

.inicio {
  text-align: center;
  font-family: 'Kalam';
}


.menu {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  box-shadow: 0px 4px 4px #00000040;
  padding: 1em;
  max-width: 100%; /* Ajusta según sea necesario */
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 1.5em;
}

label[for="sort-select"] {
  display: flex;
  flex-direction: row;
  font-family: 'Creepster', cursive;
}

#sort-select {
  display: flex;
  border: none;
  font-family: 'Creepster', cursive;
  color: #6FE74B;
  margin-left: 1.5em;
  background-color: #121212;
  font-size: 1em;
}

#sort-section {
  display: flex;
  align-items: center;
  margin-right: 1.5em;
}

label[for="filter-select"] {
  display: flex;
  flex-direction: row;
  font-family: 'Creepster', cursive;
}

#filter-section {
  display: flex;
  align-items: center;
}

#filter-select {
  display: flex;
  border: none;
  background-color: #121212;
  font-family: 'Creepster', cursive;
  color: #6FE74B;
  margin-right: 1em;
  flex-direction: row;
  font-size: 1em;
}

label[for="inputCharacter"] {
  display: flex;
  flex-direction: row;
  color: #6FE74B;
  font-family: 'Creepster', cursive;
  margin-right: 0.625em;
  align-items: center;
}

#inputCharacter.search {
  border: none;
  background-color: #121212;
  color: #6FE74B;
  font-family: 'Creepster', cursive;
  padding: 5px 10px;
  margin-right: 20px;
  align-items: center;
  font-size: 1em;
}

/* Estilos para el contenedor de resultados de búsqueda */
#search-results {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilos para cada elemento de resultado de búsqueda */
#search-results li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #555;
}

#search-results li img {
  width: 50px;
  /* Ajusta el tamaño de la imagen según tus preferencias */
  margin-right: 10px;
  /* Espacio entre la imagen y el nombre */
}

#search-results li span {
  font-size: 1.2em;
  /* Tamaño de fuente del nombre */
  color: #fff;
  /* Color del texto */
}
/* estilo estadistrica*/
.estadistica{
  height: auto;
  display: inline;
  /*flex-wrap: wrap;
  justify-content: center;*/
  font-family: 'Kalam';
  margin: 0 auto;
}

.alive{
  /*width: fit-content;*/
    backdrop-filter: blur(2px);
    border-radius: 0.65em;
    box-shadow: 5px 5px  #6FE74B;;
    padding: 10px 10px;
    text-align: center;
   /* font-size: 1em;*/
    margin-right: 2em;
}
.dead{

  /*width: fit-content;*/
    backdrop-filter: blur(2px);
    border-radius: 0.65em;
    box-shadow: 5px 5px  #bb1616;;
    padding: 10px 10px;
    text-align: center;
    /* font-size: 1em;*/
    margin-right: 2em;
}
.none{
  /*width: fit-content;*/
    backdrop-filter: blur(2px);
    border-radius: 0.65em;;
    box-shadow: 5px 5px  #0cede2;;
    padding: 10px 10px;
    text-align: center;
    /* font-size: 1em;*/
}
/* Estilos para la tarjeta */
/* Contenedor para las tarjetas */
#principal{
  background-image: url('IMAGENES/Web_Photo_Editor.jpg');
  background-size: contain;
 
}
 #root.card-container{
   background-size: contain;
  display: flex;
  flex-wrap: wrap;
  margin-block-end: 4em;
}

ul{/* ul de las tarjetas*/
  display: flex;
  flex-wrap: wrap;
  
}
li{
  list-style:none;
}
.card {
  background-color: #333;
  border: 1px solid #555;
  width: 200px;
  color: #fff;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

/*.card-container {
 display: flex; /* Mostrar en línea
  justify-content: space-around;} /* Espacio entre las tarjetas */

.card:hover {
  transform: scale(1.1);
}
img {
  width: 100%;
  border: 1px solid #555;
  display: block
}

/*ul {
  font-weight: bold;
  margin-top: 0px;
  padding: 0;
  list-style: none;
  ;
}*/

.nombre {
  font-family: 'Kalam', sans-serif;
  font-size: 1.5em;
  color: #62cc85;
  /* Texto blanco */
  text-align: left;
  padding-block-start: 1em;
}

.estado {
  font-family: cursive;
  font-size: 1em;
  padding-block-end: 1em
}

.cara_trasera {
  font-family: cursive;
  /* Cambia el tipo de letra a Arial o una fuente sans-serif genérica */
}

.cara_trasera p {
  padding: 5px;
  /* Eliminar márgenes para los párrafos dentro de la tarjeta trasera */
  margin: 0;
}

